.content {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 20px;
    padding-top: 0px;
}

.top-menu {
    display: none;
}

.side-menu {
    display: block;
}

@media screen and (max-width: 1280px) {
    .content {
        display: block;
    }
}